body {
    background-color: #eef;
    background: url("../images/7024000-fantasy-nature-pictures-18119.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.starter-template {
    padding: 10px 15px;
    text-align: center;
}

.col-centered {
    float: none;
    text-align: center;
    margin: 0 auto;
}

.input-field {
    margin:10px;
    padding: 10px;
    width: 800px;
    background-color: darkgrey;
    border: 3px solid #000000;
    font-family: "Tahoma";
    font-size: 12px;
}

#demoCanvas {
    /*border: 3px solid #8AC007;*/
    padding: 0px;
    spacing: 0px;
}